---
layout: default
---
<div class="navigation">
    {% if page.lang == 'zh' %}
        <a href="/zh/index.html">首页</a>
    {% else %}
        <a href="/">Home</a>
    {% endif %}
</div>
<div class="post">
<h1>{{ page.title }}</h1>
<div><span class="time">{{ page.date | date_to_string }}</span></div>
{{ content }}
</div>

<div class="navigation">
    {% if page.lang == 'zh' %}
        <a href="/zh/index.html">返回首页</a>
    {% else %}
        <a href="/">Back to Home</a>
    {% endif %}
</div>

<!-- disqus comments -->
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    this.page.url = window.location.href;
    this.page.identifier = window.location.pathname;
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://cheeming.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
