---
layout: default
title: News in Chinese, Easy!
---
<h1>News in Chinese, Easy!</h1>
<p>
Daily news in simple and easy chinese, for the beginner chinese learners. Click on each story to read more!
</p>
<ul class="posts nice-posts">
{% assign nice_posts = site.nice | sort: "date" | reverse %}
{% for post in nice_posts %}
    {% if post.lang == 'zh' %}
    <li>
        <span class="time nice-time">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}" class="nice-title-link">
            {% if post.title_pinyin %}
            <ruby>{{ post.title }}<rt>{{ post.title_pinyin }}</rt></ruby>
            {% else %}
            {{ post.title }}
            {% endif %}
        </a>
        <div style="clear:both;"></div>
    </li>
    {% endif %}
{% endfor %}
</ul>

<div class="updated_time">
    <p>
        Last updated: <span class="time">{{ site.time | date_to_string }}</span>
    </p>
</div>
