body {
    font-family: Georgia, Georgia, serif;
    font-size: 14px;
    color: #333333;
}

.content {
    width: 640px;
    margin: 0px auto;
}

.posts li {
    font-weight: bold;
}
.posts li time {
    color: #555555;
}

.navigation {
    font-size: 0.8em;
}

.post time {
    font-weight: bold;
    color: #999999;
}

.post img {
    padding: 4px;
}

.footer {
    width: 640px;
    margin: 2em auto;
    font-size: 0.8em;
    color: #999999;
    text-align: center;
}
.footer .license {
    margin-top: 7em;
}
