body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333333;
    background-image: url(/images/bg1.jpg);
    background-repeat: repeat-x;
    margin: 50px 0px 0px 0px;
    border-top: 1px solid #999999;
    width: 100%;
}

h1, h2, h3 {
    line-height: 1.5em;
}

code {
    font-family: 'Droid Sans Mono', monospace;
}

.content {
    width: 60%;
    margin: 0px auto;
    padding: 1em;
}

@media (max-width: 1024px) {
    .content {
        width: 80%;
        margin: 0px auto;
        padding: 1em;
    }
}

@media (max-width: 450px) {
    .content {
        width: 90%;
        margin: 0px auto;
        padding: 1em;
    }
}

.posts {
    padding-left: 2em;
}

.posts li {
    font-weight: bold;
    list-style-type: none;
    margin-top: 1em;
}
.posts li .time {
    color: #555555;
}
.posts li .time,
.posts li a {
    display: block;
    float: left;
}

.posts li .time {
    width: 96px;
}

p.online_services {
    margin-top: 2.2em;
}

ul.online_services li {
    margin-top: 0.5em;
}

.navigation {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.post .time {
    font-weight: bold;
    color: #999999;
}

.post img {
    padding: 2px;
    border: 1px solid #999999;
    margin: 2px;
}

.post img.noborder {
    border: none;
}

.post iframe {
    width: 100%;
    height: 600px;
}

.footer {
    border-top: 1px solid #cccccc;
    margin: 0 auto;
    padding: 1.5em 0em;
    background-color: #eeeeee;
    color: #999999;
    text-align: center;
    font-size: 0.8em;
}
.updated_time {
    padding: 0.5em 0em;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    color: #999999;
}
.updated_time .time {
    font-weight: bold;
}
.footer p {
    margin: 0;
    border: 0;
    padding: 0;
}

.lowlight {
    color: #666666;
}
.flights {
    font-family: 'Droid Sans Mono', monospace;
}

blockquote {
    margin: 1em 0;
    padding: 0.5em 2em;
    border-left: 2px solid #999999;
    background-color: #eeeeee;
}
