body {
    font-family: Georgia, Georgia, serif;
    font-size: 14px;
    color: #333333;
}

.content {
    width: 640px;
    margin: 0px auto;
}

.posts {
    padding-left: 2em;
}

.posts li {
    font-weight: bold;
    list-style-type: none;
}
.posts li .time {
    color: #555555;
}
.posts li .time,
.posts li a {
    display: block;
    float: left;
}

.posts li .time {
    width: 96px;
}
.posts li a {
    width: 475px;
}

p.online_services {
    margin-top: 2.2em;
}

.navigation {
    font-size: 0.8em;
}

.post .time {
    font-weight: bold;
    color: #999999;
}

.post img {
    padding: 2px;
    border: 1px solid #999999;
    margin: 2px;
}

.post img.noborder {
    border: none;
}

.footer {
    width: 640px;
    margin: 2em auto;
    font-size: 0.8em;
    color: #999999;
    text-align: center;
}
.footer .license {
    margin-top: 7em;
}
