body {
    font-family: Georgia, Georgia, serif;
    font-size: 14px;
    color: #333333;
    background-image: url(/images/bg1.jpg);
    background-repeat: repeat-x;
    margin: 50px 0px 0px 0px;
    border-top: 1px solid #999999;
}

.content {
    width: 640px;
    margin: 0px auto;
    padding: 1em;
}

.posts {
    padding-left: 2em;
}

.posts li {
    font-weight: bold;
    list-style-type: none;
}
.posts li .time {
    color: #555555;
}
.posts li .time,
.posts li a {
    display: block;
    float: left;
}

.posts li .time {
    width: 96px;
}
.posts li a {
    width: 475px;
}

p.online_services {
    margin-top: 2.2em;
}

.navigation {
    font-size: 0.8em;
}

.post .time {
    font-weight: bold;
    color: #999999;
}

.post img {
    padding: 2px;
    border: 1px solid #999999;
    margin: 2px;
}

.post img.noborder {
    border: none;
}

.footer {
    border-top: 1px solid #cccccc;
    margin: 0 auto;
    padding: 1em 0em;
    background-color: #eeeeee;
    color: #999999;
    text-align: center;
    font-size: 0.8em;
}
.updated_time {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    color: #999999;
}
.updated_time .time {
    font-weight: bold;
}
.footer p {
    margin: 0;
    border: 0;
    padding: 0;
}
